asposestorage==1.0.2
auto_sklearn==0.15.0
autogluon==1.1.1
autoPyTorch==0.2.1
ConfigSpace==0.4.21
ConfigSpace==1.1.1
gpytorch==1.11
hyperopt==0.2.7
lightautoml==0.3.8.1
matplotlib==3.7.4
numpy==1.21.2
openml==0.14.2
pandas==2.0.3
psycopg2==2.9.9
pytorch_tabnet==4.1.0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.32.3
scikit_learn==0.24.2
scipy==1.7.3
seaborn==0.11.0
smac==1.2
tabpfn==0.1.10
tensorflow==2.10.0
torch==2.0.1+cu118
torchmetrics==1.4.0.post0
tqdm==4.66.1
